        <!-- header-start -->
        <div style="height:100px;">
            <header>
                <div class="header-area" style="background-color:rgb(89,0,179)">
                    <div class="main-header-area">
                        <div class="container-fluid p-0">
                            <div class="row align-items-center no-gutters" style="height:100px;">
                                <div class="col-xl-2 col-lg-2">
                                    <div class="logo-img">
                                        <a href="/teacherHomePage">
                                            <img src="img/Our Logo.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-7">
                                    <div class="main-menu  d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="/teacherHomePage">Home</a></li>
                                                <li><a href="/teacherQuiz">My Quizzes</a></li>
                                                <li><a href="/teacherScoreboard">Scoreboard</a></li>
                                                <li><a href="/teacherProfile">My Profile</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                    <div>
                                        <a href="/logout">
                                            <i style="color:white;" class="flaticon-user"></i>
                                            <span style="color:white;">Log Out</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mobile_menu d-block d-lg-none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- header-end -->

        <!-- content_area_start -->
        <div class="slider_area" style="min-height:100vh;">
            <div class="single_slider slider_bg_1" style="min-height:100vh; height:max-content; padding-top:5%; padding-bottom:5%;">
                <div class="container" style="text-align:left;">
                    <p id="quizID" style="display: none;">{{quizID}}</p>
                    <span style="font-weight: bold; color: black;">Please click on the "Update" button on each question or quiz name that was modified.</span>
                    <br>
                    <br>
                    <br>
                    <div>
                        <table class = "spacing">
                            <tbody>
                                {{#if question}}
                                <tr>
                                    <td>
                                        <form id = "edit_quizname" action = "/teacherQuiz/{{quizID}}" method = "patch">
                                            <span style="font-weight:bold;"><i>Quiz Name: </i></span><input type = "text" name = "quizName" value = "{{name}}">
                                            <button onclick = "updateName({{quizID}})" class="btn btn-primary btn-sm">Update</button>
                                        </form>
                                    </td>
                                </tr>
                                    <tr></tr>
                                    {{#each question}}   
                                        <tr>
                                            <td>
                                                <form id = "edit_question{{questionID}}" action = "/teacherQuiz/Quiz/" method = "put"><br>
                                                    <span style="font-weight:bold;">Q{{inc @index "qNum"}}. </span><input type = "text" name = "question" value = "{{question}}">
                                                    <span style="font-weight:bold;">Answer: </span><input type = "text" name = "answer" value = "{{answer}}"><br><br>
                                                    {{#showChoices type}}
                                                        <span style="font-weight:bold;">Incorrect Answer(s): </span><input type = "text" name = "choiceA" value = "{{choiceA}}">
                                                    {{#showMCChoices type}}
                                                        <span style="font-weight:bold;">                     </span><input type = "text" name = "choiceB" value = "{{choiceB}}">
                                                        <span style="font-weight:bold;">                     </span><input type = "text" name = "choiceC" value = "{{choiceC}}">
                                                    {{/showMCChoices}}
                                                    {{/showChoices}}
                                                    <div id = "question type" style ="display: none;">
                                                        </b><input type = "text" name = "type" value = "{{type}}">
                                                    </div>
                                                </form>       
                                            </td>                                       
                                        </tr>
                                        <td>
                                            <div>
                                                <button onclick = "updateQuestion({{questionID}})" class="btn btn-primary btn-sm">Update</button>
                                                <button onclick = "deleteQuestion({{questionID}})" class="btn btn-primary btn-sm" style="background-color: rgba(255, 0, 0, 0.75);">Delete</button>
                                            </div>
                                        </td>
                                    {{/each}}
                                {{else}}
                                    <tr id = "noQuestion"><td colspan = "20"><h4><span style ="font-weight: normal; text-align: center">The quiz has no questions. Click on "Add Question" to get started.</span></h4></td></tr>
                                {{/if}}
                                <tr>
                                    <td>
                                        <form id = "new_question" action = "/teacherQuiz/Quiz/{{quizID}}" method = "post" style="text-align: left;">
                                            <div id = "add_Question">
                                                <br>
                                                {{#if qNum}}
                                                    <span style="font-weight: bold;">Q{{qNum}}.</span>
                                                {{else}}
                                                    <span style="font-weight: bold;">Q1.</span>
                                                {{/if}}
                                                <input type = "text" name = "newWording" placeholder = "Enter your question here...">
                                                <span style="font-weight:bold;">Type: </span><input type = "radio" id = "SAType" name = "newType" onclick="showQuestion(0)"value ="SA"> Short Answer
                                                        <input type = "radio" id = "TFType" name = "newType" onclick="showQuestion(1)" value ="TF"> True/False
                                                        <input type = "radio" id = "MCType" name = "newType" onclick="showQuestion(2)" value = "MC"> Multiple Choice<br><br>
                                                <div id = "SAQuestion">
                                                    <span style="font-weight:bold;">Answer: </span><input type ="text" name = "SAAnswer" placeholder ="Enter the answer here..."><br><br>
                                                    <input type="submit" class="btn btn-primary btn-sm">
                                                </div>            
                                                <div id = "TFQuestion">
                                                    <span style="font-weight:bold;">Answer: </span><input type = "radio" id= "TAnswer" name = "TFAnswer" onclick="selectWrongAnswer(0)" value = "True"> True</label>
                                                                    <input type = "radio" id= "FAnswer" name = "TFAnswer" onclick="selectWrongAnswer(1)" value = "False"> False<br><br>
                                                    <span style="font-weight:bold; display:none">Wrong Answer: </span><input type = "radio" id= "TChoice" onclick="selectAnswer(0)" name = "TFChoiceA" value = "True" style="display:none"></label>
                                                                    <input type = "radio" id= "FChoice" onclick="selectAnswer(1)" name = "TFChoiceA" value = "False" style="display:none">
                                                    <input type="submit" class="btn btn-primary btn-sm"> 
                                                </div>
                                                <div id = "MCQuestion">
                                                    <span style="font-weight: bold;">Answer: </span><input type ="text" name = "MCAnswer" placeholder ="Enter the answer here..."><br><br>
                                                    <span style="font-weight: bold;">Wrong Answers: </span><input type ="text" name = "MCChoiceA" placeholder ="Enter the 1st wrong choice here...">
                                                                            <input type ="text" name = "MCChoiceB" placeholder ="Enter the 2nd wrong choice here...">
                                                                            <input type ="text" name = "MCChoiceC" placeholder ="Enter the 3rd wrong choice here..."><br><br>
                                                    <input type="submit" class="btn btn-primary btn-sm"> 
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                <tr><td><button class="btn btn-primary btn-sm" id = "newQuestion">Add New Question</button></td></tr>
                                <tr></tr>
                                <tr><td><button onclick = "window.location.href = '/teacherQuiz';" class="btn btn-primary btn-sm" style="background-color:rgba(45,226,84, 0.75);">Done</button>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- content_area_end -->

        <!-- footer -->
        <footer class="footer footer_bg_1">
            <div class="copy-right_text" style="background-color:rgb(89,0,179)">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer -->

        <!-- JS here -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/ajax-form.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/scrollIt.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/nice-select.min.js"></script>
        <script src="js/jquery.slicknav.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/gijgo.min.js"></script>

        <script src="js/main.js"></script>

        <!-- Front-end JS scripts here -->
        <script src="frontendJS/editQuizPage.js"></script>