<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edit Quiz Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
    
    <!-- header-start -->
    <div style="height:100px;">
        <header>
            <div class="header-area" style="background-color:rgb(89,0,179)">
                <div class="main-header-area">
                    <div class="container-fluid p-0">
                        <div class="row align-items-center no-gutters" style="height:100px;">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo-img">
                                    <a href="/teacherHomePage">
                                        <img src="img/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/teacherHomePage">Home</a></li>
                                            <li><a href="/teacherQuiz">My Quizzes</a></li>
                                            <li><a href="/teacherStudents">My Students</a></li>
                                            <li><a href="/teacherScoreboard">Scoreboard</a></li>
                                            <li><a href="/teacherProfile">My Profile</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div>
                                    <a href="#">
                                        <i style="color:white;" class="flaticon-user"></i>
                                        <span style="color:white;">Log Out</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <!-- header-end -->

    <!-- content_area_start -->
    <div class="slider_area ">
        <div class="single_slider slider_bg_1" style="min-height:75vh; height:max-content; padding-top:5%; padding-bottom:5%;">
            <div class="container" style="text-align:left;">

                <div id="quizID" style="display: none;">
                    {{quizID}}
                </div>
                <div>
                    <!--<h1 style="color:white;">PUT STUFF HERE</h1>-->
                    <table class = "spacing">
                        <tbody>
                            {{#if question}}
                            {{#each question}}
                                    <tr>
                                        <td>
                                            <form id = "edit_question{{questionID}}" action = "/teacherQuiz/Quiz/" method = "put">
                                            <b>Q{{inc @index}}. </b><input type = "text" name = "question" value = "{{question}}">
                                            <b>Answer: </b><input type = "text" name = "answer" value = "{{answer}}"><br>
                                            {{#showChoices type}}
                                            <b>Incorrect Answer(s): </b><input type = "text" name = "choiceA" value = "{{choiceA}}">
                                            {{#showMCChoices type}}
                                            <b>                     </b><input type = "text" name = "choiceB" value = "{{choiceB}}">
                                            <b>                     </b><input type = "text" name = "choiceC" value = "{{choiceC}}">
                                            {{/showMCChoices}}
                                            {{/showChoices}}
                                            <div id = "question type" style ="display: none;">
                                                </b><input type = "text" name = "type" value = "{{type}}">
                                            </div>
                                            </form>       
                                        </td>
                                        <td><button onclick = "updateQuestion({{questionID}})" class = "edit">Update</button></td>
                                        <td><button onclick = "deleteQuestion({{questionID}})" class = "delete">Delete</button></td>                                        
                                    </tr>
                            {{/each}}
                            {{else}}
                                <tr id = "noQuestion"><td colspan = "20"><h4><span style ="font-weight: normal; text-align: center">The quiz has no questions. Click on "Add Question" to get started.</span></h4></td></tr>
                            {{/if}}
                                <tr>
                                    <td>
                                        <form id = "new_question" action = "/teacherQuiz/Quiz/" method = "post" style="text-align: left;">
                                        <div id = "add_Question">
                                            <b>Q{{inc @index}}. </b><input type = "text" name = "newWording" value = "Enter your question here..."><br>
                                            <b>Type: </b><input type = "radio" id = "SAType" name = "newType" onclick="showQuestion(0)"value ="SA"><label for="SA">Short Answer</label>
                                                        <input type = "radio" id = "TFType" name = "newType" onclick="showQuestion(1)" value ="TF"><label for="TF">True/False</label>
                                                        <input type = "radio" id = "MCType" name = "newType" onclick="showQuestion(2)" value = "MC"><label for="MC">Multiple Choice</label><br>
                                                        </div>
                                            <div id = "SAQuestion">
                                                <b>Answer: </b><input type ="text" name = "SAAnswer" value ="Enter the answer here..."><br>
                                                <button onclick = "addQuestion({{quizID}})">Submit</button> 
                                            </div>            
                                            <div id = "TFQuestion">
                                                <b>Answer: </b><input type = "radio" id= "TAnswer" name = "TFAnswer" onclick="selectWrongAnswer(0)" value = "True"><label for "True">True</label>
                                                                <input type = "radio" id= "FAnswer" name = "TFAnswer" onclick="selectWrongAnswer(1)" value = "False"><label for "False">False</label><br>
                                                <b>Wrong Answer: </b><input type = "radio" id= "TChoice" onclick="selectAnswer(0)" name = "TFChoiceA" value = "True"><label for "True">True</label>
                                                                <input type = "radio" id= "FChoice" onclick="selectAnswer(1)" name = "TFChoiceA" value = "False"><label for "False">False</label><br>
                                                <button onclick = "addQuestion({{quizID}})">Submit</button> 
                                            </div>
                                            <div id = "MCQuestion">
                                                <b>Answer: </b><input type ="text" name = "MCAnswer" value ="Enter the answer here..."><br>
                                                <b>Wrong Answers: </b><input type ="text" name = "MCChoiceA" value ="Enter the 1st wrong choice here..."><br>
                                                                      <input type ="text" name = "MCChoiceB" value ="Enter the 2nd wrong choice here..."><br>
                                                                      <input type ="text" name = "MCChoiceC" value ="Enter the 3rd wrong choice here..."><br>
                                                <button onclick = "addQuestion({{quizID}})">Submit</button> 
                                            </div>
                                            </form>
                                    </td>
                                </tr>
                        <tr><td colspan = "8" align = "right"><button class = "create" id = "newQuestion">Add New Question</button></td></tr>
                        </tbody>
                    </table>
                </div>
            
            </div>
        </div>
    </div>
    <!-- content_area_end -->

    <!-- footer -->
    <footer class="footer footer_bg_1">
        <div class="copy-right_text" style="background-color:rgb(89,0,179)">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->

    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>

    <script src="js/main.js"></script>

     <!-- Front-end JS scripts here -->
    <script src="frontendJS/editQuizPage.js"></script>
</body>

</html>