        <!-- header-start -->
        <div style="height:100px;">
            <header>
                <div class="header-area" style="background-color:rgb(89,0,179)">
                    <div class="main-header-area">
                        <div class="container-fluid p-0">
                            <div class="row align-items-center no-gutters" style="height:100px;">
                                <div class="col-xl-2 col-lg-2">
                                    <div class="logo-img">
                                        <a href="/studentHomePage">
                                            <img src="img/logo.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-7">
                                    <div class="main-menu  d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="/studentHomePage">Home</a></li>
                                                <li><a href="/studentScoreboard">My Scores</a></li>
                                                <li><a class="active" href="/studentProfile">My Profile</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                    <div>
                                        <a href="/logout">
                                            <i style="color:white;" class="flaticon-user"></i>
                                            <span style="color:white;">Log Out</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mobile_menu d-block d-lg-none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- header-end -->

        <!-- content_area_start -->
        <div class="slider_area" style="min-height:100vh;">
            <div class="single_slider slider_bg_1" style="min-height:100vh; height:max-content; padding-top:5%; padding-bottom:5%;">
                <div class="container" style="text-align:center;">
                    <div>
                        <h1 style="color:white;">My Profile</h1>
                    </div>
                    
                    <div>
                            <table id="nameTable" class="spacing" align="center">
                            <thead>
                                <th>First Name</th>
                                <th>Last Name</th>
                            </thead>
                            <tbody>

                                {{#each student}}
                                <tr>
                                    <td>{{firstName}}</td>
                                    <td>{{lastName}}</td>
                                    <td>
                                        <button type="button" id="editNameButton">Edit Name</button>
                                    </td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                    </div>

                    <div id="updateNameForm">
                            <form id = "updateName" action = "/studentProfile" method = "post">
                                <b>First name: </b><input type = "text" name = "newFirstName" value = "{{firstName}}"><br><br>
                                <b>Last name: </b><input type = "text" name = "newLastName" value = "{{lastName}}"><br><br>
                            </form>
                            <button onclick = "updateName()">Update</button>
                        </div>
                    <hr />

                    <div>
                        <button type="button" id="changePasswordButton">Change My Password</button>
                    </div>

                    <div id="changePasswordForm">
                            <form id = "updatePassword" action = "/studentProfile" method = "post">
                                <b>New Password: </b><input id="newPassword" type = "password" name = "newPassword" value = "{{password}}"><br><br>
                                <b>Confirm New Password: </b><input id="confirmPassword" type = "password" value=""><br><br>
                            </form>
                            <button onclick = "updatePassword()">Update</button>
                    </div>      
                
                </div>
            </div>
        </div>
        <!-- content_area_end -->

        <!-- footer -->
        <footer class="footer footer_bg_1">
            <div class="copy-right_text" style="background-color:rgb(89,0,179)">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer -->

        <!-- JS here -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/ajax-form.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/scrollIt.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/nice-select.min.js"></script>
        <script src="js/jquery.slicknav.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/gijgo.min.js"></script>

        <script src="frontendJS/studentProfile.js"></script>

        <script src="js/main.js"></script>