        <!-- header-start -->
        <div style="height:100px;">
            <header>
                <div class="header-area" style="background-color:rgb(89,0,179)">
                    <div class="main-header-area">
                        <div class="container-fluid p-0">
                            <div class="row align-items-center no-gutters" style="height:100px;">
                                <div class="col-xl-2 col-lg-2">
                                    <div class="logo-img">
                                        <a href="/teacherHomePage">
                                            <img src="img/Our Logo.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-7">
                                    <div class="main-menu  d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="/teacherHomePage">Home</a></li>
                                                <li><a href="/teacherQuiz">My Quizzes</a></li>
                                                <li><a href="/teacherScoreboard">Scoreboard</a></li>
                                                <li><a class="active" href="/teacherProfile">My Profile</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                    <div>
                                        <a href="/logout" onclick="clearStorage()">
                                            <i style="color:white;" class="flaticon-user"></i>
                                            <span style="color:white;">Log Out</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mobile_menu d-block d-lg-none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- header-end -->

        <!-- content_area_start -->
        <div class="slider_area" style="min-height:100vh;">
            <div class="single_slider slider_bg_1" style="min-height:100vh; height:max-content; padding-top:5%; padding-bottom:5%;">
                <div class="container" style="text-align:center;">
                    <div>
                        <h1 style="color:white;">My Profile</h1>
                    </div>
                    <br>
                    {{#each teacher}}
                    <div>
                            <table id="nameTable" class="table table-dark" style="background-color:rgba(90, 0, 179, 0.5); color: black;" align="center">
                            <thead>
                                <th style="border:unset;">First Name</th>
                                <th style="border:unset;">Last Name</th>
                                <th style="border:unset;"></th>
                            </thead>
                            <tbody>

                               
                                <tr>
                                    <td style="border:unset;">{{firstName}}</td>
                                    <td style="border:unset;">{{lastName}}</td>
                                    <td style="border:unset;">
                                        <button type="button" class="btn btn-primary btn-sm" id="editNameButton">Edit Name</button>
                                    </td>
                                </tr>
                                

                            </tbody>
                        </table>
                    </div>

                    <div id="updateNameForm">
                            <form id = "updateName" action = "/teacherProfile" method = "post" style="font-weight: bold;">
                                First name: <input type = "text" id="newFirst" name = "newFirstName" placeholder="{{firstName}}" value = "{{firstName}}"><br><br>
                                Last name: <input type = "text" id="newLast" name = "newLastName" placeholder="{{lastName}}" value = "{{lastName}}"><br><br>
                            </form>
                            <button id="updateNameButton" class="btn btn-primary btn-sm" onclick="updateName()">Update</button>
                        </div>
                    <br>
                    <div>
                        <button type="button" class="btn btn-primary btn-sm" id="changePasswordButton" style="font-weight: bold;">Change My Password</button>
                    </div>

                    <div id="changePasswordForm">
                            <form id = "updatePassword" action = "/teacherProfile" method = "put" style="font-weight: bold;">
                                New Password: <input id="newPassword" onclick="displayPasswordRule()" type = "password" name = "newPassword" value = "{{password}}"><br>
                                <span id="passwordRule" style="color:red; font-size:14px;">Password Restrictions: 8 to 12 characters with no spaces.</span><br>
                                Confirm New Password: <input id="confirmPassword" type = "password" value=""><br><br>
                            </form>
                            <button id="updatePasswordButton" class="btn btn-primary btn-sm" onclick = "updatePassword()">Update</button>
                    </div>
                    {{/each}}
                
                </div>
            </div>
        </div>
        <!-- content_area_end -->

        <!-- footer -->
        <footer class="footer footer_bg_1">
            <div class="copy-right_text" style="background-color:rgb(89,0,179)">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer -->

        <!-- JS here -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/ajax-form.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/scrollIt.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/nice-select.min.js"></script>
        <script src="js/jquery.slicknav.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/gijgo.min.js"></script>

        <script src="frontendJS/teacherProfile.js"></script>

        <script src="js/main.js"></script>